*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #023e5a;
    background: radial-gradient(circle, rgb(2, 72, 104) 0%, rgba(2,62,90,1) 100%);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.nav_bar{
    position: -webkit-sticky;
    position: sticky;
    display: grid;
    top: 0;
    align-items: center;
    background: linear-gradient(180deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.nav_selection{
    display: flex;
    align-items: center;
}

.nav_icon{
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.nav_icon a:hover{
    color: #0291d3;
    transition: 0.3s;
}

nav ul{
    color: white;
    list-style-type: none;
    padding: 15px;
    overflow: hidden;
}
  
nav li{
    justify-content: center;
}
  
nav li a{
    text-align: center;
    padding: 20px;
    margin: 0;
    padding-right: 50px;
    text-decoration: none;
    transition: 0.3s;
}
  
nav li a:hover{
    color: #0291d3;
}

.log_out{
    margin-right: 50px;
    transition: all 0.5s ease;
}

.logout_btn{
    background: #0291d3;
    color: #FFFFFF;
    border: none;
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logout_btn:hover{
    background: white;
    color: #0291d3;
}

.menu{
    font-size: 25px;
    display: none;
    color: white;
    padding: 20px;
    transition: 0.3s;
    transition: all 0.5s ease;
}

.menu:hover{
    color: #0291d3;
}

.sections {
    margin-top: 70px;
    margin-bottom: 70px;
}

.introduction {
    margin: 160px 40px 40px 40px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}

.pic {
    width: 400px;
    border-radius: 50%;
    border: 15px solid #0a7db3;
    box-shadow: 1px 1px 20px #111111;
}

.intro_text {
    margin: 20px;
    margin-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#home_h1{
    font-size: 50px;
}

#home_p{
    font-size: 20px;
}

.prof_button{
    margin-top: 20px;
}

.prof_button a{
    color: white;
    padding: 8px 20px 8px 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #111111;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}

.prof_button a:hover{
    color: black;
    background-color: #0291d3;
}

.card_container {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgb(3, 104, 151), rgb(5, 35, 88));
    box-shadow: 1px 1px 30px #111111;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.card{
    background: linear-gradient(90deg, rgb(2, 145, 211), rgb(3, 109, 158));
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
}

.card:hover{
    background: linear-gradient(90deg, rgb(4, 174, 253), rgb(3, 109, 158));
}

/*Registration and Login Styles*/
.reglog_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 40px 40px 40px;
    gap: 1rem;
}

.reglog_card{
    background: #202020;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
    max-width: 550px;
}

.reglog_title{
    font-size: 30px;
    font-weight: bolder;
    color: #0291d3;
}

.reglog{
    margin-top: 15px;
}

.reglog_form .text-box:focus{
    outline: none;
    border-color: #0291d3;
}

.acct_create{
    margin-top: 11px;
}

.acct_create a{
    color:#0291d3;
    transition: 0.3s ease-in-out
}

.acct_create a:hover{
    color: white;
}

/*Profile Styles*/
.top_container{
    display: flex;
    flex-wrap: wrap;
    background: #202020;
    background: radial-gradient(circle, rgb(40, 40, 40) 0%, rgba(32, 32, 32, 1) 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 2rem;
    margin: 0px 80px 80px 80px;
}

.profile_pic{
    width: 260px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #111111;
    padding: 10px;
}

.profile_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 80px;
    gap: 1rem;
    grid-template-areas: 
        'side main'
        'down down';
}

#prof_h1{
    font-size: 50px;
}

.side_profile_container{
    display: grid;
    grid-area: side;
    gap: 1rem;
}

.side_details_container{
    display: grid;
    background: #202020;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
    gap: 1rem;
}

.side_details_grid{
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: baseline;
    align-items: center;
}

.side_details_title{
    color: #0291d3;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.side_details{
    margin-top: 8px;
}

.main_profile_container{
    grid-area: main;
    background: #202020;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
}

.main_details_title{
    color: #0291d3;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}

.main_details{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}

.bottom_profile_container{
    grid-area: down;
    background: #202020;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
}

.bottom_details_title{
    color: #0291d3;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}

.bottom_details{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 15px;
    border-radius: 50px;
}
  
.skills {
    text-align: right;
    padding: 10px 10px 10px;
    color: white;
    border-radius: 50px;
}
  
.html{
    width: 90%; 
    background-color: #0291d3;
}

.css {
    width: 80%; 
    background-color: #0291d3;
}

.js {
    width: 20%; 
    background-color: #0291d3;
}

.php {
    width: 20%; 
    background-color: #0291d3;
}

.cprog {
    width: 50%; 
    background-color: #0291d3;
}

.java{
    width: 45%; 
    background-color: #0291d3;
}

.img_container{
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px #111111;
    margin-top: 40px;
    margin-bottom: 10px;
}

#proj_img{
    border-radius: 15px;
}

/*Contact Styles*/
input, textarea{
    color: white;
}

.contact_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 40px 40px 40px;
    gap: 1rem;
}

.card_details{
    background: #202020;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
}

.card_form{
    background: #202020;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #111111;
    max-width: 550px;
}

.contact_details{
    margin-top: 10px;
}

.contact_details_title{
    font-size: 30px;
    font-weight: bolder;
    color: #0291d3;
}

.contact_details_text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.contact_socials{
    padding-top: 30px;
}

.social_icons{
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.icons a{
    transition: 0.3s ease-in-out;
}

.icons a:hover{
    color: #0291d3;
}

.contact{
    margin-top: 15px;
}

.text-box{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.contact_form .text-box:focus{
    outline: none;
    border-color: #0291d3;
}

textarea{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: 1px solid white;
    resize: none;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

.contact_form textarea:focus{
    outline: none;
    border-color: #0291d3;
}

.send-btn{
    float: right;
    background: #0291d3;
    color: #FFFFFF;
    border: none;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.send-btn:hover{
    background: white;
    color: #0291d3;
}


/*Navigation Bar Query*/

@media screen and (max-width: 768px) {
    .sign_up{
        margin: 0;
    }

    .menu{
        display: block;
    }

    .nav_selection{
        position: absolute;
        display: block;
        top: 100%;
        right: 3%;
        width: 0;
        height: 0;
        background: none;
        border-radius: 10px;
        text-align: center;
        transition: all .5s ease;
    }

    .nav_selection a{
        display: block;
        margin: 7px 0;
        padding: 0px 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: all 0.5s ease;
    }

    .nav_selection ul{
        width: 100%;
    }

    .nav_selection li{
        width: 100%;
    }

    .nav_selection li a:hover{
        background: white;
        border-radius: 10px;
        color: #202020;
        font-weight: bold;
    }

    .nav_selection li a:hover{
        transition: 0.5s;
    }

    .nav_selection.open{
        background: #202020;
        width: 290px;
        height: 165px;
        box-shadow: 1px 1px 8px #111111;
    }
}

/*Profile Query*/
@media screen and (max-width: 1300px) {
    .profile_container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'side' 
        'main'
        'down';
        margin: 80px;
        gap: 1rem;
    }
    .side_details_container{
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .side_details_container{
        grid-template-columns: 1fr;
    }
}

/*Contact Query*/
@media screen and (max-width: 1102px) {
    .card_details{
        width: 550px;
    }
}

/*For Smaller Screens*/
@media screen and (max-width: 650px) {
    /*Home*/
    .sections{
        margin-top: 40px;
    }

    .nav_icon{
        margin-left: 20px;
    }

    .log_out{
        margin: 0;
    }

    .pic{
        width: 250px;
        border: 8px solid #0a7db3;
    }

    .introduction{
        margin: 40px 10px 10px 10px;
        gap: 30px;
    }

    .intro_text{
        margin: 0;
    }

    #home_h1{
        font-size: 30px;
    }

    #home_p{
        font-size: 15px;
    }

    /*Profile*/
    .top_container{
        margin: 0px 10px 10px 10px;
    }

    .profile_container{
        margin: 30px 10px 10px 10px;
    }

    #prof_h1{
        font-size: 40px;
    }

    .img_container{
        padding: 10px;
    }

    /*Contact*/
    .contact_container{
        margin: 40px 10px 10px 10px;
    }
}